{% extends "base.twig" %}
{% block title %}Registrarse{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/IDevelop1/IDevelop/public/styles/nuevoUser_2.css">
{% endblock %}

{% block content %}

{% if usuario %}

{% if usuario.tipo == false %}<!-- Usuario del tipo desarrollador -->
<div id="tabla_id" class="card">
	<div class="card card-body border-info">
		<form id="formDatosDesarrollador">

			<h1>Bienvenido {{usuario.nombre |upper }} {{usuario.apellido |upper }}</h1>
			<input style="visibility: hidden" id="email" type="text" value="{{usuario.id}}" name="">
			<img id="fotoDef" src="/IDevelop1/IDevelop/public/img/user.png" class="img-circle" alt="Cinque Terre" width="120" height="120">
			

			<input style="display: none;" id="foto" type="text"/>

			<input type="file" name="filePerfil" id="fotoPerfil" />

			<span>
				<select class="form-control" id="idPaises" name="pais">

				</select>
				<select class="form-control" id="idCiudad" name="ciudad">

				</select>
			</span>
			<span>
				<label for="lenguaFav">Tu lenguaje favorito</label>
				<select id="lenguaFav" class="form-control">
					<option value="C">C</option>
					<option value="Java">Java</option>
					<option value="C++">C++</option>
					<option value="C#">C#</option>
					<option value="R">R</option>
					<option value="PHP">PHP</option>
					<option value="GO">GO</option>
					<option value="Swift">Swift</option>
				</select>
			</span>
			<span>
				<label>Curriculum vitae: </label>
				<input class="form-control" id="curriculum" type="file" name="file" required>
			</span>
			<span><br>
				<input class="btn btn-info" value="Finalizar" type="submit" id="btnenviar" placeholder="Finalizar" name="submit">
			</span>

		</form>
	</div>
</div>
{% endif %}

{% if usuario.tipo == true %}<!-- Usuario del tipo empresa -->

<input style="visibility: hidden" id="email" type="text" value="{{usuario.id}}" name="">
<div id="tabla_id" class="card">
	<div class="card card-body border-info">
		<h1>Bienvenido {{usuario.nombre |upper }}</h1>
		<form id="formDatosEmpresa">
			<span>
				<label for="inputEmail">Pais:</label>
				<select class="form-control" id="idPaises" name="pais">			
				</select>
				<label for="inputEmail">Ciudad:</label>
				<select class="form-control" id="idCiudad" name="ciudad">
				</select>
			</span>
			<span>
				<label for="inputEmail">Visión:</label>
				<textarea class="form-control" id="txtVision" placeholder="Visión"></textarea>
				<label for="inputEmail">Misión:</label>
				<textarea class="form-control" id="txtMision" placeholder="Misión"></textarea>
				<label for="inputEmail">Teléfono:</label>
				<input class="form-control" id="txtTel" type="text" placeholder="Teléfono">
				<label for="inputEmail">Rubro:</label>
				<input class="form-control" id="txtRubro" type="text" placeholder="Rubro">
				<label for="inputEmail">Nombre del Reclutador:</label>
				<input class="form-control" id="txtReclutador" type="text" placeholder="Nombre del reclutador">
				<label for="inputEmail">Dirección:</label>	
				<input class="form-control" id="txtDireccion" type="text" placeholder="Dirección">
			</span><br>	
			<span>
				<input class="btn btn-info" type="submit" id="btnEnviarEmpresa" value="Finalizar" name="submitEmpresa">
			</span>
		</form>
	</div>
</div>
{% endif %}

<div id="modalAviso" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p id="mensajeModal">Modal body text goes here.</p>
			</div>
			<div class="modal-footer">  <a type="button" id="redirigir" class="btn btn-default">Close</a>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="/IDevelop1/IDevelop/public/scripts/altaUser2.js"></script>
{% endblock %}

