{% extends "base.twig" %}
{% block title %}Bajarse de un proyecto{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/IDevelop1/IDevelop/public/styles/Estilos_generales.css">
{% endblock %}
{% block content %}
<H1>Bajarse de un proyecto</H1>
<div id="tabla_id">
	{% if not listas.id != null %}
	<table class="table">
		<thead >
			<tr id="tabla_titulo" class="bg-info">
				<th scope="col">ID</th>
				<th scope="col">Empresa</th>
				<th scope="col">Nombre del proyecto</th>
				<th scope="col">Descripción</th>
				<th scope="col">Fecha de entrega</th>
				<th scope="col">Acción</th>
			</tr>
		</thead>
		<tbody>

			{% for lista in listas %}
			<tr>
				<td id="txtid" scope="col">{{ lista.id |upper }}</td>
				<td id="txtempresa" scope="col">{{ lista.nombre_empresa |upper }}</td>
				<td id="nombre" scope="col">{{lista.nombre |upper }}</td>
				<td id="descripcion" scope="col"><p>{{lista.descripcion |upper }}</p></td>
				<td id="fecha" scope="col">{{lista.fechaEntrega |upper }}</td>
				<td><input type="button" class="btn btn-info" name="aceptar" value="Darse de baja" onclick="javascript:Baja_postulacion({{lista.id |upper}},'{{session.id |upper}}');"></td>
			</tr>
			{% endfor %}

		</tbody>
	</table>
	{% else %}
	<h3>No existen proyectos en la base de datos o el usuario no puede postularse a mas proyectos</h3>
	{% endif %}
</div>
<!-- Modal  de mensajes -->
<div id="modalAviso" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p id="mensajeModal">Modal body text goes here.</p>
			</div>
			<div class="modal-footer">	
				<a type="button" href="javascript:location.reload()" class="btn" id="redirigir">Aceptar</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/IDevelop1/IDevelop/public/scripts/Baja_proyecto.js"></script>
{% endblock %}
