{% extends "base.twig" %}
{% block title %}Inicio{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{path_for('Inicio')}}styles/index.css">
{% endblock %}
{% block content %}
<p class="important">
    <div><img src="{{path_for('Inicio')}}img/inicio.png"></div>
</p>
<div class="container marketing">
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Empresas</h2>
            <p class="lead">Si tienes una idea puedes registrarla en la pagina y ofrecer puestos para el desarrollo</p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{{path_for('Inicio')}}img/empresa.jpg">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Desarrolladores</h2>
            <p class="lead">Si eres un desarrollador puedes registrarte, mostrar que herramienta es tu preferida y postularte a proyectos que estan en Idevelop</p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{{path_for('Inicio')}}img/desarrollador.png">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Ruta de desarrollo</h2>
            <p class="lead">Una vez que el desarrollador fue aceptado en el proyecto, este puede colaborar y trabajar en la idea que planteó la Empresa</p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{{path_for('Inicio')}}img/ruta.jpeg">
        </div>
    </div>
    <hr class="featurette-divider">
</div>
{% endblock %}