{% block title %}Desarrolladores{% endblock %}
{% extends "base.twig" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{path_for('Inicio')}}styles/Estilos_generales.css">
{% endblock %}
{% block content %}
<div id="tabla_id">
<h1>Desarrolladores</h1>
  <table class="table">
    <thead>
      <tr id="tabla_titulo" class="bg-info">
        <td>Email</td>
        <td>Apellido</td>
        <td>Pais</td>
        <td>Accion</td>
        <td>Accion 2</td>
      </tr>
    </thead>
    <tbody>
      {% for user in usuarios %}
      <tr class="fila">
        <td>{{ user.email }}</td>
        <td>{{ user.apellido }}</td>
        <td>{{ user.pais }}</td>
        <td><a href="{{path_for('Inicio')}}Usuario/Perfil?email={{ user.email }}">Ver Perfil</a> 
          <td><a>Puntuar</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
{% endblock %}