{% block title %}Desarrolladores{% endblock %}
{% extends "base.twig" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{path_for('Inicio')}}styles/Estilos_generales.css">
{% endblock %}
{% block content %}
<div id="tabla_id">
<h1>Desarrolladores</h1>
  <table class="table">
    <tbody>
      {% for user in usuarios %}
      <tr onclick="window.location='{{path_for('Inicio')}}Usuario/Perfil?email={{ user.email }}' " class="fila">
        <td><button  style="background-image: url(data:image/png;base64,{{user.contenido}})" id="boton" type="button" class="dropbtn user" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
      </button>
        {{user.nombre}}
        {{ user.apellido }}
      </td>
        <td>{{ user.email }}</td>
        <td>{{ user.pais }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
{% endblock %}