    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ path_for('Inicio') }}">IDevelop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Proyecto</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="{{ path_for('NuevoProyecto') }}">Crear proyecto<span class="sr-only">(current)</span></a>
              <a class="dropdown-item" href="{{ path_for('Postularse') }}">Postularse<span class="sr-only">(current)</span></a>
              <a class="dropdown-item" href="{{ path_for('BajarseProyecto') }}">Bajarse de un proyecto<span class="sr-only">(current)</span></a>  
              <a class="dropdown-item" href="#">Proyectos recomendados<span class="sr-only">(current)</span></a>            
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Listas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ path_for('listado') }}">Ver Desarrolladores<span class="sr-only">(current)</span></a>
              <a class="dropdown-item" href="{{ path_for('listadoE') }}">Ver Empresas<span class="sr-only">(current)</span></a>
            </div>
          </li>

        </ul>
        <form class="form-inline" id="formBuscar">
          <div id="buscador_div">
            <input class="form-control" onkeyup ="filtrarBuscador()" type="search" name="buscador" id="buscador" placeholder="Buscar"  target="_blank">
          </div>
          <div class="search" id="search">
            <table class="search-table table" id="searchTable">
              <thead>
                <tr>
                </tr>
              </thead>
              <tbody id="tBody">
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <div>
        {% if not session and not sesion%}
        <a href="{{ path_for('NuevoUsuario') }}" class="btn btn-info my-2 my-sm-0" type="submit">Registrarme</a>
        <a href="{{ path_for('ingresar') }}" class="btn btn-info my-2 my-sm-0" type="submit">Login</a>
        {%  endif %}
      </div>
      {% if session %}

      <div class="btn-group">
        <button id="boton" type="button" class="dropbtn user" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
        </button>
        <div class="dropdown-menu dropdown-menu-right">
         <a href="{{ path_for('perfil') }}" class="dropdown-item" type="button">Perfil de {{session.nombre}}</a>
         <a href="{{ path_for('cerrar') }}" class="dropdown-item" type="button">Logout</a>
       </div>
     </div>
   </nav>  
   {%  endif %}
 </nav>

