{% extends "base.twig" %}
{% block title %}Empresa{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{path_for('Inicio')}}styles/Estilos_generales.css">
{% endblock %}
{% block content %}
<div id="tabla_id">
	<h1>Perfil Empresa</h1>
	<nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<a class="nav-item nav-link active" id="perfil_tab" data-toggle="tab" href="#Datos" role="tab" aria-controls="nav-home" aria-selected="true">Datos</a>
			<a class="nav-item nav-link" id="perfil_tab" data-toggle="tab" href="#Proyectos" role="tab" aria-controls="nav-profile" aria-selected="false">Proyectos</a>
		</div>
	</nav>
	<div class="tab-content" id="myTabContent">
		<div role="tabpanel" class="tab-pane active" id="Datos">
			<div class="row">
				<div class="col-lg-6"><img id="imagen_perfil" src="data:image/png;base64,{{Empresa.foto_perfil}}"/><h3>{{Empresa.nombre}}</h3>
				</div>
				<div class="col-lg-6">
      <dl class="dl-horizontal">
					<dt>Email:</dt>
					<dd> {{Empresa.email}}</dd>
					<dt>Nombre:</dt>
					<dd> {{Empresa.nombre}}</dd>
					<dt>Telefono:</dt>
					<dd> {{Empresa.telefono}}</dd>
					<dt>Fecha de creacion:</dt>
					<dd> {{Empresa.fecha_Creacion}}</dd>
					<dt>Rubro:</dt>
					<dd> {{Empresa.rubro}}</dd>
					<dt>Mision:</dt>
					<dd> {{Empresa.mision}}</dd>
					<dt>Vision:</dt>
					<dd> {{Empresa.vision}}</dd>
					<dt>Reclutador:</dt>
					<dd> {{Empresa.reclutador}}</dd>
					<dt>Direccion:</dt>
					<dd> {{Empresa.direccion}}</dd>
			  </dl>
    </div>
  </div>
</div>
	<div class="tab-pane fade" id="Proyectos" role="tabpanel" aria-labelledby="nav-profile-tab">
		<div id="tabla_id">
			<table class="table">
				<thead>
					<tr id="tabla_titulo" class="bg-info">
						<td>Nombre</td>
						<td>Descripcion</td>
						{% if session %}
						<td>Accion</td>
						{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for proy in proyectos%}
					<tr>
						<td>{{proy.nombre}}</td>
						<td>{{proy.descripcion}}</td>
						{% if session%}
						<td><a href="{{path_for('Inicio')}}Proyecto/{{ proy.id }}">Ver Proyecto</a></td>
						{%endif%}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>


{% endblock %}