{% extends "base.twig" %}
{% block title %}Proyecto: {{proyecto.nombre}}{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{path_for('Inicio')}}styles/Estilos_generales.css">
{% endblock %}
{% block content %}
<body background="{{path_for('Inicio')}}img/fondo.png"> 

  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Confirmar</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-footer">
          <button onclick="desactivarUsuario()" type="button" class="btn btn-default" id="modal-btn-si">Si</button>
          <button type="button" class="btn btn-primary" id="btn_cerrar">No</button>
        </div>
      </div>
    </div>
  </div>

  <main class="container">


    <div style="background-color: #17A2B8" class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
      <img class="mr-3" src="{{path_for('Inicio')}}img/proyecto.png" alt="" width="48" height="48">
      <div class="lh-100">
        <h6 class="mb-0 text-white lh-100">{{proyecto.nombre | upper}}</h6>
      </div>
      <div class="col-md-10 col-md-offset-2">
        {% if session.tipo == 0 %}
        {% if referencia == 1 %}
        {% if proyecto.estado == 0 or proyecto.estado == 2 %}
        <input style="margin-right: 5px" type="button" name="Planificacion" class="btn btn-info btn-sm active float-right" value="Gestionar" onclick="window.location.href='{{path_for('Inicio')}}Proyecto/casosdeuso/{{ proyecto.id }}';">
        {% endif %}
        {% endif %}
        {% if trabajando_proyecto == 1%}
        {% if postulacion == 0 %}
        <input style="margin-right: 5px" type="button" class="btn btn-danger btn-sm active float-right" name="aceptar" value="Despostularse" onclick="javascript:Baja({{proyecto.id |upper}},'{{session.id |upper}}');">
        {% endif %}
        {% if postulacion == 1%}
        <input style="margin-right: 5px" type="button" class="btn btn-info btn-sm active float-right" name="aceptar" value="Postularse" onclick="javascript:Postularse({{proyecto.id |upper}},'{{session.id |upper}}','{{proyecto.Empresa_id |upper}}');">
        {% endif %}
        {% endif %}
        {% endif %}

        {% if session.tipo == 1 %}
        {% if referencia == 1  %}
        <input style="margin-right: 5px" type="button" name="Planificacion" class="btn btn-info btn-sm active float-right" value="Ver planificacion" onclick="window.location.href='{{path_for('Inicio')}}Proyecto/casosdeuso/{{ proyecto.id }}';">
        {% if proyecto.estado == 0 %}
        <input style="margin-right: 5px" type="button" class="btn btn-info btn-sm active float-right" name="aceptar" value="Desactivar proyecto" onclick="javascript:Estado_proyecto_des({{proyecto.id |upper}},4);" >

        {% elseif proyecto.estado == 2 %}
        <input style="margin-right: 5px" type="button" class="btn btn-info btn-sm active float-right" name="aceptar" value="Terminar proyecto" onclick="javascript:Estado_proyecto_des({{proyecto.id |upper}},3);">


        {% elseif proyecto.estado == 4 %}
        <input style="margin-right: 5px" type="button" class="btn btn-info btn-sm active float-right" name="aceptar" value="Activar proyecto" data-target="#modalADproyecto" data-toggle="modal">
        {% endif %}
        {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="my-3 p-3 bg-white rounded shadow-sm">

      <dt>Estado</dt>
      {% if proyecto.estado == 0 %}
      <h6>En espera</h6>
      {% elseif proyecto.estado == 1 %}
      <h6>Fin de la fecha de reclutamiento</h6>
      {% elseif proyecto.estado == 2 %}
      <h6>Iniciado</h6>
      {% elseif proyecto.estado == 3 %}
      <h6>Finalizado</h6>
      {% elseif proyecto.estado == 4 %}
      <h6>Desactivado</h6>
      {% endif %}
<!--    </div>
  </div>
  <div class="my-3 p-3 bg-white rounded shadow-sm">
-->

    <dt>Descripción</dt>
    <dd><textarea class="descripcion" readonly>{{proyecto.descripcion}}</textarea></dd>
    <dt>Fecha de finalización</dt>
    <dd>{{proyecto.fechaEntrega}}</dd>

    </div>
    {% if postulante %}

    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <h6 class="border-bottom border-gray pb-2 mb-0">Postulantes</h6>

      <!-- for -->

    {% for pos in postulante%}
    <div class="media text-muted pt-3" >
     <img class="mr-3" src="{{path_for('Inicio')}}img/user.png" alt="" width="30" height="30">
     <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <div class="d-flex justify-content-between align-items-center w-100">
        <a onclick="window.location='{{path_for('Inicio')}}Usuario/Perfil?email={{pos.email}}'">{{pos.email}}</a>
        {% if session.tipo == 1 %}
        <a href="{{path_for('Inicio')}}Usuario/ElejirPostulante?email={{pos.email}}&idProyecto={{proyecto.id}}">Contratar</a>
         {% endif %}
       <!-- <a href="#" class="btn btn-info btn-sm active float-right" role="button" aria-pressed="true">Contratar</a>  -->
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</main>

<!-- Modal  de mensajes -->
<div id="modalAviso" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Resultado</h5>
      </div>
      <div class="modal-body">
        <p id="mensajeModal"> </p>
      </div>
      <div class="modal-footer">  
        <a href="javascript:location.reload()" type="button" class="btn" id="redirigir">Aceptar</a>
      </div>
    </div>
  </div>
</div>

<div id="modalADproyecto" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Desactivar proyecto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>
          <label for="txtFechaFP"> Fecha final de postulación:</label>
          <input class="form-control" type="date" id="txtFechaFP" value="onchange=cambiarFecha(this.value)" name="txtFechaFP" required>
          <span>
            <label for="txtFecha"> Fecha Entrega proyecto:</label>
            <input class="form-control" type="date" id="txtFechaE" name="txtFechaE" required>
          </span>

        </div>
        <div class="modal-footer">  
         {% if proyecto.estado == 4 %}
         <button type="button" class="btn btn-info btn-sm active" name="aceptar" value="Desactivar proyecto" onclick="javascript:Estado_proyecto({{proyecto.id |upper}},0);" data-dismiss="modal">Desactivar proyecto</button>

         {% endif %}
       </div>
     </div>
   </div>
 </div>
</body>
{% endblock %}
{% block script %}
<script>
  let today = new Date();
  var dd = today.getDate() + 1;
  var mm = today.getMonth() + 1;
  var yyyy = today.getFullYear();
  if (dd < 10) {
    dd = '0' + dd
  }
  if (mm < 10) {
    mm = '0' + mm
  }
  today = yyyy + '-' + mm + '-' + dd;
   console.log(today);
  document.getElementById("txtFechaFP").setAttribute("min", today);
</script>


<script type="text/javascript">
  function cambiarFecha(val){
    var today = new Date(val);
    
    today.setDate(today.getDate() + 30);
    var dd = today.getDate() + 1;
    var mm = today.getMonth() + 1;
    var yyyy = today.getFullYear();
    if (dd < 10) {
      dd = '0' + dd
    }
    if (mm < 10) {
      mm = '0' + mm
    }
    today2 = yyyy + '-' + mm + '-' + dd;
    console.log(today2);
    document.getElementById("txtFechaE").setAttribute("value",today);
    document.getElementById("txtFechaE").setAttribute("min", today);
  }
</script>
<script type="text/javascript" src="/IDevelop1/IDevelop/public/scripts/desactivarUsuario.js"></script>
<script type="text/javascript" src="/IDevelop1/IDevelop/public/scripts/casosdeuso.js"></script>
<script type="text/javascript" src="/IDevelop1/IDevelop/public/scripts/postularse.js"></script>
<script type="text/javascript" src="/IDevelop1/IDevelop/public/scripts/Baja_proyecto.js"></script>
<script type="text/javascript" src="/IDevelop1/IDevelop/public/scripts/estado_proyecto.js"></script>
<script type="text/javascript" src="/IDevelop1/IDevelop/public/scripts/ElejirPostulante.js"></script>
{% endblock %}