{% extends "base.twig" %}
{% block title %}Desarrollador{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{path_for('Inicio')}}styles/Estilos_generales.css">
{% endblock %}
{% block content %}
<div id="tabla_id">
  <h1>Perfil Desarrollador</h1>
  <ul class="nav nav-tabs" id="myTab" role="tablist" >
    <li class="nav-item" >
      <a class="nav-link active" id="perfil_tab" data-toggle="tab" href="#Datos" role="tab" aria-controls="home" aria-selected="true">Datos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="perfil_tab" data-toggle="tab" href="#Experiencia" role="tab" aria-controls="profile" aria-selected="false">Experiencia laboral</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="perfil_tab" data-toggle="tab" href="#Proyectos" role="tab" aria-controls="profile" aria-selected="false">Proyectos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="perfil_tab" data-toggle="tab" href="#Herramientas" role="tab" aria-controls="profile" aria-selected="false">Herramientas</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
   <div role="tabpanel" class="tab-pane active" id="Datos">
    <div class="row">
      <div class="col-lg-6"><img id="imagen_perfil" src="data:image/png;base64,{{Desarrollador.foto_perfil}}"/><h3>{{Desarrollador.nombre}}</h3>
    </div>
    <div class="col-lg-6">
      <dl class="dl-horizontal">
        <dt>Email:</dt>
        <dd>{{Desarrollador.email}}</dd>
        <dt>Apellido:</dt>
        <dd>{{Desarrollador.apellido}}</dd>
        <dt>Cedula:</dt>
        <dd>{{Desarrollador.cedula}}</dd>
        <dt>Fecha de nacimiento:</dt>
        <dd>{{Desarrollador.fecha_Nacimiento}}</dd>
        <dt>Ciudad:</dt>
        <dd>{{Desarrollador.ciudad_actual}}</dd>
        <dt>Pais:</dt>
        <dd>{{Desarrollador.pais}}, {{Desarrollador.estado}}</dd>
        {% if Desarrollador.email == session.id %}
        <button id="btn_desactivar" type="button" class="btn btn-info">Desactivar cuenta</button>
        {%endif%}
      </dl>
    </div>
  </div>
</div>
<div class="tab-pane fade" id="Experiencia" role="tabpanel" aria-labelledby="profile-tab">
  <table class="table">
    <thead>
      <tr id="tabla_titulo" class="bg-info">
        <td>Empreza</td>
        <td>Descripcion</td>
        <td>Fecha Inicio</td>
        <td>Fecha Fin</td>
        <td>Contacto</td>
      </tr>
    </thead>
    <tbody>
      {% for exp in experiencia %}
      <tr>
        <td>{{ exp.empresa }}</td>
        <td>{{ exp.descripcion }}</td>
        <td>{{ exp.fechaini }}</td>
        <td>{{ exp.fechafin }}</td>
        <td>{{ exp.contacto }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="tab-pane fade" id="Proyectos" role="tabpanel" aria-labelledby="profile-tab">
  <table class="table">
    <thead>
      <tr id="tabla_titulo" class="bg-info">
        <td>Nombre</td>
        <td>Descripcion</td>
      </tr>
    </thead>
    <tbody>
      {% for proy in proyectos %}
      <tr>
        <td>{{ proy.nombre }}</td>
        <td>{{ proy.descripcion }}</td>
        <td><a>Ver Mas..</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="tab-pane fade" id="Herramientas" role="tabpanel" aria-labelledby="profile-tab">
  <table class="table">
    <thead>
      <tr id="tabla_titulo" class="bg-info">
        <td>Nombre</td>
      </tr>
    </thead>
    <tbody>
      {% for her in herramientas %}
      <tr>
        <td>{{ her.nombre }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Confirmar</h5>
      </div>
      <div class="modal-footer">
        <button onclick="desactivarUsuario()" type="button" class="btn btn-default" id="modal-btn-si">Si</button>
        <button type="button" class="btn btn-primary" id="btn_cerrar">No</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/desactivarUsuario.js"></script>
{% endblock %}
