{% extends "base.twig" %}
{% block title %}Proyectos{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{path_for('Inicio')}}styles/Estilos_generales.css">
{% endblock %}

{% block content %}	
<div id="tabla_id">
<h1>Proyectos </h1> 
  <table class="table">
    <thead>
		<tr id="tabla_titulo" class="bg-info">
			<th scope="col">Nombre</th>
			<th class="tdDescripcion" scope="col">Descripción</th>
			<th scope="col">Entrega</th>
			<th scope="col">Empresa</th>
			<th scope="col">Estado</th>
			<th scope="col">Acción</th>

		</tr>
	</thead>
	<tbody>
		{% for proyecto in proyectos %}
		<tr class="fila" id="{{proyecto.id}}">
			<td>{{ proyecto.nombre }}</td>
			<td class="tdDescripcion">{{ proyecto.descripcion }}</td>
			<td>{{ proyecto.fechaEntrega }}</td>
			<td>{{ proyecto.empresa }}</td>
			<td>{{ proyecto.estado }}</td>
			<td id="accion" onclick="mostrarProyecto({{proyecto.id}})">Ver perfil </td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{path_for('Inicio')}}scripts/proyecto.js"></script>
{% endblock %}

